version: '3'

services:
  ros_control:
    build: .
    container_name: robot_control_interface
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev:rw  # Access to USB devices
      - /tmp/.X11-unix:/tmp/.X11-unix:rw  # For GUI applications
      - ./data:/ros_ws/data:rw  # For storing data
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
      - NVIDIA_DRIVER_CAPABILITIES=${NVIDIA_DRIVER_CAPABILITIES:-all}
    command: bash -c "ros2 launch robot_control_interface ur5_aruco.launch.py"
